.App { 
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  min-height: 100vh;
}
.App-header {
  z-index: 42;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 8vh;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: top 0.5s;
}
.logo {
  left: 2%;
  position: absolute;
}
.logo img{
  width: 50px;
}

.logo a{
  color: #ecf0f1;
  font-size: 1.5vw;
  vertical-align: super;
}
.logo a span {
  font-size: .8625rem;
  color: #3f94d6;
  margin-left: 3px;
}
.logo a:hover {
  color: #ecf0f1;
  text-decoration: none;
}

.nav{
  position: absolute;
  right: 5%;
}

.nav-link{
  color: #f1c40f;
}

.nav-link:hover{
  color:#f39c12;
}

.active {
  background: #f1c40f !important;
  color:#282c34 !important;
}

.blur {
  height: 3vh;
    width: 103%;
    background: #2c3e50;
    margin-left: -2vh;
    margin-top: -1vh;
    margin-right: 0vh;
    margin-bottom: -1vh;
    filter: blur(5px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
}